@import url(//fonts.googleapis.com/css?family=Titillium+Web:400,700,900);

@import '../../layout/mixins';
@import '../../layout/flex';

$line-height: 1.5rem !default;
$column-width: 1rem !default;
$secondary-opacity: .6 !default;

$brand-color: #FF3C00 !default;
$text-color: rgba(#333, .8) !default;
$intense-text-color: rgba($text-color, 1);
$secondary-text-color: rgba($text-color, $secondary-opacity);

$badge-size: $line-height * 2;
$child-feature-icon-size: $line-height * 2;
$feature-max-width: 40rem;

@import 'header.scss';
@import 'features.scss';
@import 'funds.scss';
@import 'feedback.scss';
@import 'roadmap.scss';
@import 'footer.scss';