@import url(//fonts.googleapis.com/css?family=Titillium+Web:400,700,900);

@import '../../layout/mixins';
@import '../../layout/flex';

$line-height: 1.5rem !default;
$column-width: 1rem !default;
$secondary-opacity: .6 !default;

$brand-color: #FF3C00 !default;
$text-color: rgba(#333, .8) !default;
$intense-text-color: rgba($text-color, 1);
$secondary-text-color: rgba($text-color, $secondary-opacity);

$badge-size: $line-height * 2;
$feature-badge-size: $badge-size;

$content-width: 40rem;
$desktop-breakpoint: $content-width * 1.5;

@import 'header.scss';

.about-view-content {
  margin: 0 (-$column-width);
  font-size: 1rem;
  line-height: $line-height;
  color: $text-color;

  > section {
    @include flex-column;
    @include flex-align(center, center);
    position: relative;
    padding: $line-height $column-width;
    margin: 0 0 2*$line-height;
  }
}

@import 'features.scss';
@import 'funds.scss';
@import 'feedback.scss';
@import 'roadmap.scss';
@import 'footer.scss';