$content-width: 40rem !default;
$feature-icon-desktop-size: 8*$line-height;
$feature-badge-size: 2*$line-height !default;
$current-feature-color: #FFC801 !default;

@mixin feature-card {
  @include relative;
  @include flex-container($direction: column);
  @include flex-align(center, center);
  width: $content-width;
  max-width: 100%;

  padding: 2*$line-height $column-width 2*$line-height ($badge-size + 2*$column-width);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  @media (min-width: #{$desktop-breakpoint}) {
    @include flex-align(stretch);
    box-shadow: none;
    padding-left: $column-width;
    margin-top: 2*$line-height;
    margin-bottom: 6*$line-height;
  }

  // Elements:

  > .feature-icon {
    @include absolute(-1px, null, null, $column-width);
    @include size($badge-size, $badge-size*1.5);
    @include flex-center;
    z-index: 10;
    font-size: 1rem;

    &:before {
      content: '';
      @include absolute(0, 0, 0, 0);
      z-index: 0;
      border-left: $badge-size/2 solid $brand-color;
      border-right: $badge-size/2 solid $brand-color;
      border-bottom: $badge-size/4 solid transparent;
      border-radius: 0 0 4px 4px;
    }

    > * { z-index: 1; }
  }

  > .feature-title,
  > .feature-description {
    margin-bottom: $line-height;
    text-align: center;
  }

  > .feature-title { font-size: 1.5em; }
  > .feature-description { font-size: 1em; }

  > .inner-features {
    align-self: stretch;
    @include flex-rows;
    justify-content: flex-end;
  }

  @media (min-width: #{$desktop-breakpoint}) {
    font-weight: 300;
    font-size: $line-height;

    &:after {
      content: '';
      @include absolute($bottom: -2*$line-height);
      height: 2px;
      width: 100vw;
      background: rgba(0, 0, 0, .025);
    }

    &:last-child:after {
      content: none;
    }

    > .feature-icon {
      @include size($feature-icon-desktop-size, $feature-icon-desktop-size);
      top: -.33333 * $feature-icon-desktop-size;
      font-size: $feature-icon-desktop-size;
      opacity: .3;

      &:before { content: none; }
    }

    > .feature-title { line-height: $line-height*2; }
    > .feature-description { margin-bottom: $line-height * 2; }

    &:nth-child(2n+1) {
      &:after { right: 0; }
      > .feature-icon { @include absolute(null, -10rem, null, auto); }
      > .feature-title, > .feature-description { text-align: left; }
    }

    &:nth-child(2n) {
      &:after { left: 0; }
      > .feature-icon { @include absolute(null, auto, null, -10rem); }
      > .feature-title, > .feature-description { text-align: right; }
    }
  }
}

@mixin feature-badge {
  @include flex-column;
  padding: 0;
  margin-left: $column-width;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  background: transparent;
  border-radius: 0;
  opacity: $secondary-opacity;

  > .feature-description,
  > .inner-features {
    display: none;
  }

  > .feature-icon {
    @include size($feature-badge-size, $feature-badge-size);
    @include flex-center;
    border: 2px solid rgba($text-color, .15);
    background: rgba($text-color, .05);
    border-radius: 50%;
    font-size: $feature-badge-size/2;
  }

  > .feature-title {
    font-size: .75rem;
    padding-top: $line-height/2;
    max-width: $feature-badge-size;
    font-weight: 700;
    word-break: break-word;
    white-space: normal;
  }

  &.current {
    order: -1;
    opacity: 1;
    margin-left: -($badge-size + $feature-badge-size)/2 - $column-width;
    margin-right: auto;

    > .feature-icon {
      background-color: $text-color;
      color: $current-feature-color;
      border: 3px solid white;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
  }

  @media (min-width: #{$desktop-breakpoint}) {
    & > .feature-icon {
      @include size($feature-badge-size * 1.5, $feature-badge-size * 1.5);
      font-size: $feature-badge-size * 0.625;
    }

    & > .feature-title {
      font-size: .875rem;
      max-width: $feature-badge-size * 1.5;
    }

    &.current { margin-left: 0; }
  }
}

@mixin feature-card-colorization($cls, $feature-color, $color) {
  $selector: if($cls, #{".feature." + $cls}, ".feature");
  > #{$selector} {
    background: $feature-color;
    color: $color;

    > .feature-icon { color: white; }
    > .feature-title { color: rgba($color, 1); }
    > .feature-description { color: rgba($color, $secondary-opacity); }

    @media (min-width: #{$desktop-breakpoint}) {
      background: transparent;
      color: $text-color;

      > .feature-icon { color: $feature-color; }
      > .feature-title { color: $brand-color; }
      > .feature-description { color: rgba($text-color, $secondary-opacity); }
    }
  }
}

.about-view-content .product-features {
  padding: 0;

  .feature.card { @include feature-card; }
  .feature.badge { @include feature-badge; }

  @include feature-card-colorization(keep, #ffeb3b, $text-color);
  @include feature-card-colorization(organize, #32D390, $text-color);
  @include feature-card-colorization(storage, #B1D5EB, $text-color);
  @include feature-card-colorization(share, #846DB1, white);
}
