@import 'buttons.scss';

.about-view-content .feedback {
  overflow: hidden;

  @media (min-width: #{$desktop-breakpoint}) {
    z-index: 0;
    padding-top: 4*$line-height;
    margin: 0 0 (-$line-height);
    background: #333;
    color: rgba(white, $secondary-opacity);
  }

  // Elements:
  &:after {
    content: '';
    @include absolute(0);
    height: 2px;
    width: $content-width;
    background: rgba(0, 0, 0, .05);
  }

  > header, .submit-feedback {
    margin-top: 2*$line-height;
  }

  > header {
    font-size: $line-height;
    line-height: $line-height;
    font-weight: 700;
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
  }

  .submit-feedback {
    @include flex-column;
    width: $content-width;
    max-width: 100%;
  }

  .input-field {
    margin: 0 0 $line-height;
    text-align: left;

    label, input, textarea {
      display: block;
      margin: 0;
    }

    label {
      font-size: .75rem;
      text-transform: uppercase;
    }

    input, textarea {
      width: 100%;
      background: transparent;
      border: none;
      font-size: inherit;
      line-height: inherit;
      background: rgba(255,255,255,.2);
      border-bottom: 2px solid rgba($text-color, .1);
      border-radius: 2px 2px 0 0;
      padding: $line-height/2 $column-width;
      transition: all .3s ease;

      &, &:hover, &:focus {
        outline: none;
      }

      &:hover, &:focus {
        color: $brand-color;
        border-color: rgba($brand-color, .3);
      }
    }
  }

  .submit-button {
    color: $brand-color;
    background: rgba($brand-color, .1);
    margin: $line-height/2 auto $line-height 0;
    @include about-view-button;
  }

  @media (min-width: #{$desktop-breakpoint}) {
    header {
      color: white;
    }

    .input-field {
      input, textarea {
        border-color: rgba(white, .3);
        background: transparent;

        &:hover, &:focus {
          color: white;
          border-color: white;
        }
      }
    }

    .submit-button {
      background: $brand-color;
      color: white;
    }
  }
}
