
.feedback {
  text-align: center;
  padding: 2*$line-height 0;

  > header, .submit-feedback {
    max-width: 40rem;
    margin: $line-height auto 2*$line-height;
  }

  header {
    font-size: 2.25rem;
    line-height: 2*$line-height;
    font-weight: 900;
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    color: $text-color;
  }

  .submit-feedback {
    @include flex-column;
  }

  .input-field {
    margin: 0 $column-width $line-height;
    text-align: left;

    label, input, textarea {
      display: block;
      margin: 0;
    }

    label {
      font-size: .75rem;
      text-transform: uppercase;
    }

    input, textarea {
      width: 100%;
      background: transparent;
      border: none;
      font-size: 1rem;
      line-height: $line-height;
      background: rgba(255,255,255,.1);
      border-bottom: 2px solid rgba($text-color, .1);
      padding: $line-height/2 $column-width;
      transition: all .3s ease;

      &, &:hover, &:focus {
        outline: none;
      }

      &:hover, &:focus {
        color: $brand-color;
        border-color: rgba($brand-color, .3);
      }
    }
  }

  .submit-button {
    padding: $line-height/2 2*$column-width;
    border: 2px solid;
    color: $brand-color;
    text-transform: uppercase;
    font-size: .75rem;
    margin: $line-height/2 auto $line-height $column-width;
    letter-spacing: 2px;
    opacity: $secondary-opacity;
    transition: all .3s ease;

    &:hover {
      opacity: 1;
    }
  }

  @media (min-width: 60rem) {
    padding-top: 4*$line-height;
    background: #333;
    z-index: 0;
    margin: 0 (-$column-width) (-$line-height);
    color: rgba(white, $secondary-opacity);

    header {
      color: white;
    }

    .input-field {
      input, textarea {
        border-color: rgba(white, .3);
        background: transparent;

        &:hover, &:focus {
          // background: rgba(white, .6);
          color: white;
          border-color: white;
        }
      }
    }

    .submit-button {
      background: $brand-color;
      border-color: white;
      color: white;
    }
  }
}