@import 'features.scss';
@import 'buttons.scss';

.about-view-content .funds {
  width: $content-width;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4*$line-height;
  font-weight: 300;
  
  @media (min-width: #{$desktop-breakpoint}) {
    z-index: 10;
    width: 100%;
    margin: 0;
  }

  // Elements:
  > header {
    text-align: center;
    font-size: 1.2rem;
    color: rgba($text-color, 1);
    margin-bottom: 2*$line-height;

    .product-name {
      margin-bottom: $line-height/2;
      font-size: 3*$line-height;
      line-height: 3*$line-height;
      font-weight: 900;
      font-family: 'Titillium Web', sans-serif;
      text-transform: uppercase;
      color: #FFC801;
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
  }

  section.description,
  section.donate {
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: $line-height;
  }

  section.donate {
    font-weight: 500;
    color: rgba($text-color, 1);
    overflow: hidden;

    .sum, .users {
      font-weight: 700;
      font-size: 1.5em;
      line-height: 2*$line-height;
      margin: 0 $column-width;
      vertical-align: middle;
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
    .sum { color: #FFC801; }
    .users { color: #36a7d7; }

    .make-donation {
      margin: $line-height*2 auto;
      color: $brand-color;
      background: rgba($brand-color, .1);
      @include about-view-button;
    }
  }

  section.roadmap {
    header {
      text-align: center;
      text-transform: uppercase;
      font-size: .75rem;
      font-weight: 700;
      letter-spacing: 1.5px;
      margin-bottom: $line-height/2;
    }

    .features {
      @include flex-row;
      margin-bottom: 2*$line-height;

      .feature {
        @include feature-badge;

        &.current {
          margin: 0 0 0 $column-width;

          & > .feature-icon {
            @include size($feature-badge-size * 1.5, $feature-badge-size * 1.5);
            font-size: $feature-badge-size * 0.625;
          }

          &:first-child { margin-left: 0; }
        }
      }
    }
  }

  @media (min-width: #{$desktop-breakpoint}) {
    &:before, &:after {
      content: '';
      @include absolute(0, 0, 0, 0);
      border-top: 4px solid rgba(255,255,255, .8);
      border-bottom: 4px solid rgba(255,255,255, .8);
      box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 -3px 6px rgba(0,0,0,0.23),
                  0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    &:before {
      z-index: 1;
      background: #FFC801;
      transform: skewY(7deg);
    }

    &:after {
      z-index: 0;
      background: #d50000;
      transform: skewY(-7deg);
    }

    > * { z-index: 2; }

    > header .product-name { color: #000; }

    section.donate {
      .sum, .users { color: white; }

      .make-donation {
        background-color: black;
        color: white;
      }
    }

    section.roadmap {
      > header {
        font-size: 1rem;
        font-weight: 900;
      }

      .features .feature.current > .feature-icon {
        background: black;
      }
    }
  }
}