$nav-height: $line-height * 3 !default;
$page-content-overlap: $line-height * 5 !default;

.page > header.product-intro {
  @include flex-rows;
  @include flex-align(center, center, center);
  @include size(100%, 100vh);
  padding: ($nav-height + $line-height) $column-width;
  margin: -$nav-height 0 $page-content-overlap;
  color: $text-color;

  font-size: $line-height;
  line-height: $line-height;
  text-align: center;

  &:after {
    content: '';
    @include absolute($bottom: 3*$line-height, $left: 50%);
    @include size(1em, 1em);
    border-bottom: 3px solid rgba($brand-color, 0.75);
    border-right: 3px solid rgba($brand-color, 0.75);
    border-radius: 3px;
    animation: scroll-down-indicator 10s infinite;
  }

  .product-icon, .product-name {
    align-self: center;
    margin: $line-height 0;
  }

  .product-icon {
    @include size(2em, 2em);
    @include flex-center;
    margin-right: $column-width;
    font-size: 1em;
    color: $brand-color;
    border: 2px solid;
    border-radius: 50%;
  }

  .product-name {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2em;
    line-height: 2*$line-height;
    font-weight: 900;
    text-transform: uppercase;
  }

  .product-description {
    flex: 1 1 100%;
    font-size: .75em;
    opacity: $secondary-opacity;
  }

  @media (min-height: 60rem) {
    margin-top: 0;
  }

  @media (min-width: #{$desktop-breakpoint}) {
    font-size: 1.333333333 * $line-height;
    line-height: 2*$line-height;
    font-weight: 300;
  }
}

@keyframes scroll-down-indicator {
  0% {
    opacity: 0;
    transform: translate(-50%, -300%) rotate(45deg) scale(.1);
  }
  5% {
    opacity: 1;
  }
  10% {
    transform: translate(-50%, 0) rotate(45deg) scale(1);
  }
  11% {
    opacity: 0;
    transform: translate(-50%, -300%) rotate(45deg) scale(.1);
  }
  15% {
    opacity: 1;
  }
  20% {
    transform: translate(-50%, 0) rotate(45deg) scale(1);
  }
  21% {
    opacity: 0;
    transform: translate(-50%, -300%) rotate(45deg) scale(.1);
  }
  25% {
    opacity: 1;
  }
  30% {
    transform: translate(-50%, 0) rotate(45deg) scale(1);
  }
  31% {
    opacity: 0;
    transform: translate(-50%, -300%) rotate(45deg) scale(.1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -300%) rotate(45deg) scale(.1);
  }
}
