@mixin flex-inline {
  display: inline-flex;
  flex-flow: row nowrap;
  align-content: center;
  align-items: center;
}

@mixin flex-inline-center {
  @include flex-inline;
  justify-content: center;
}

@mixin flex-center {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}