@mixin flex-inline {
  display: inline-flex;
  flex-flow: row nowrap;
  align-content: center;
  align-items: center;
}

@mixin flex-inline-center {
  @include flex-inline;
  justify-content: center;
}

@mixin flex-center {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

@mixin flex-rows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: stretch;
  justify-content: flex-start;
}

@mixin flex-column {
  display: flex;
  flex-flow: column nowrap;
  align-content: stretch;
  align-items: stretch;
  justify-content: flex-start;
}