@import 'mixins';
@import 'flex';

$line-height: 1.5rem !default;
$secondary-opacity: 0.6 !default;
$nav-height: 4.5rem;

.page > nav {
  margin-bottom: 0;
  border-radius: 0;

  > .container-fluid {
    min-height: $nav-height;
    display: flex;
    flex-flow: row wrap;
  }

  /* brand icon and text */
  .brand {
    margin-left: 0;
    margin-right: auto;

    > .icon, > .logo {
      margin-right: 0;
    }
  }

  .user {
    align-self: center;
    z-index: 1001;

    #login-name-link,
    #login-sign-in-link {
      text-transform: uppercase;
      font-size: .75rem;
    }

    a {
      color: inherit;
    }
  }

  /* Menu */
  .navbar-collapse {
    padding: 0;
    flex: 1 1 100%;
    z-index: 1000;

    border-bottom: 1px solid transparentize(white, .8);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  .nav.navbar-nav {
    margin: 0;
    padding: 1.5rem 1rem;

    background-color: rgba(0,0,0,0.1);
  }

  /* Menu items */
  .nav.navbar-nav li {
    text-align: center;
  }

  .nav.navbar-nav li a,
  .user {
    @include flex-center;
    padding: 0 1rem;
    line-height: $line-height;
    min-height: $line-height * 2;
    color: inherit;
    opacity: $secondary-opacity;
    transition: opacity .3s ease;

    &:hover, &:active, &:focus {
      outline: none;
      background: transparent;
      opacity: 1;
    }
  }

  .nav.navbar-nav li a {
    text-transform: uppercase;
    font-size: .75rem;
  }

  .nav.navbar-nav li.active a {
    opacity: 1;
    font-weight: 600;
    border-left: 1px solid;
    background: transparentize(white, 0.9);
    text-shadow: 1px 1px rgba(0,0,0,0.1);
  }

  @media (min-width: 768px) {
    > .container-fluid {
      flex-wrap: nowrap;
    }

    .navbar-collapse {
      flex: 0 0 auto;
      border-bottom: none;
      box-shadow: none;
    }

    .nav.navbar-nav {
      padding: 0;
      background: transparent;
    }

    .nav.navbar-nav li a {
      min-height: $nav-height;
    }

    .nav.navbar-nav li.active a {
      border-left: none;
      background: transparent;
      // border-bottom: 1px solid;
    }
  }
}