<template name="about_header">
  <header class="product-intro">
    <section class="product-icon">
      <span class="fa fa-bookmark"></span>
    </section>
    <section class="product-name">
      <span class="dark">Site</span>
      <span class="light">Ace</span>
    </section>
    <section class="product-description">
      Collect, organize and share interesting websites.
    </section>
  </header>
</template>

<template name="about_content">
  <p>This is about page</p>
  <article class="feature">
    <div class="feature-icon">
      <span class="fa fa-star"></span>
    </div>
    <div class="feature-title">
      Keep interesting websites in one place.
    </div>
    <div class="feature-description">
      Add and save interesting websites or import from browser.
    </div>
    <section class="inner-features">
      <article class="feature">
        <div class="feature-icon"><span class="fa fa-chrome"></span></div>
        <div class="feature-title">Chrome</div>
        <div class="feature-description">Chrome browser extention to add, import, sync bookmarks</div>
      </article>
      <article class="feature">
        <div class="feature-icon"><span class="fa fa-firefox"></span></div>
        <div class="feature-title">Firefox</div>
        <div class="feature-description">Firefox browser extention to add, import, sync bookmarks</div>
      </article>
      <article class="feature">
        <div class="feature-icon"><span class="fa fa-edge"></span></div>
        <div class="feature-title">Edge</div>
        <div class="feature-description">Edge browser extention to add, import, sync bookmarks</div>
      </article>
      <article class="feature">
        <div class="feature-icon"><span class="fa fa-safari"></span></div>
        <div class="feature-title">Safari</div>
        <div class="feature-description">Safari browser extention to add, import, sync bookmarks</div>
      </article>
    </section>
  </article>
</template>
