<template name="about_header">
  <header class="product-intro">
    <section class="product-icon">
      <span class="fa fa-bookmark"></span>
    </section>
    <section class="product-name">
      <span class="dark">Site</span>
      <span class="light">Ace</span>
    </section>
    <section class="product-description">
      Collect, organize and share<br/>interesting websites.
    </section>
  </header>
</template>

<template name="feature_template">
  <article class="feature {{ cssClass }} {{ stateClass }}">
    <div class="feature-icon"><span class="{{ iconClass }}"></span></div>
    <div class="feature-title">{{{ title }}}</div>
    <div class="feature-description">{{{ description }}}</div>
    <section class="inner-features">
      {{#each innerFeatures }}
        {{ > feature_template }}
      {{/each}}
    </section>
  </article>
</template>

<template name="product_features">
  <section class="product-features">
    {{#each productFeatures }}
      {{ > feature_template }}
    {{/each}}
  </section>
</template>

<template name="product_funds">
  <section class="funds">
    <header class="title">
      <div class="product-name">Site Ace</div>
      <!--<div>is</div>-->
      <!--<div>crowdfunding project</div>-->
      <div>is <strong>crowdfunding</strong> project</div>
    </header>
    <section class="description">
      Help us to build cool tool for your bookmarks.
    </section>
    <section class="donate">
      <div>We have received <span class="sum">0 <i class="fa fa-btc" aria-hidden="true"></i></span> from <span class="users">0</span> users.</div>
      <div class="make-donation">Add more...</div>
    </section>
    <section class="roadmap">
      <header>
        Now we are working on
      </header>
      <div class="features">
        <div class="feature current">
          <div class="feature-icon"><span class="fa fa-chrome"></span></div>
          <div class="feature-title">Chrome extention</div>
          <div class="feature-description">Chrome browser extention to add, import, sync bookmarks.</div>
        </div>
        <div class="feature current">
          <div class="feature-icon"><span class="fa fa-tags"></span></div>
          <div class="feature-title">Tags</div>
          <div class="feature-description">Set tags to bookmarks, filter by tags.</div>
        </div>
        <div class="feature current">
          <div class="feature-icon"><span class="fa fa-google"></span></div>
          <div class="feature-title">Google Drive storage</div>
          <div class="feature-description">Use Google Drive as your personal storage for bookmark collections.</div>
        </div>
      </div>
    </section>
  </section>
</template>

<template name="product_feedback">
  <section class="feedback">
    <header>Feedback</header>
    <form class="submit-feedback">
      <div class="input-field">
        <label>Name:</label>
        <input name="name"/>
      </div>
      <div class="input-field">
        <label>Email:</label>
        <input name="email"/>
      </div>
      <div class="input-field">
        <label>Message:</label>
        <textarea name="message" placeholder="Say something nice..."></textarea>
      </div>
      <div class="submit-button">Send</div>
    </form>
  </section>
</template>

<template name="about_content">
  <section class="about-view-content">
    {{ > product_features }}
    {{ > product_funds }}
    {{ > product_feedback }}
  </section>
</template>
