<template name="about_header">
  <header class="product-intro">
    <section class="product-icon">
      <span class="fa fa-bookmark"></span>
    </section>
    <section class="product-name">
      <span class="dark">Site</span>
      <span class="light">Ace</span>
    </section>
    <section class="product-description">
      Collect, organize and share<br/>interesting websites.
    </section>
  </header>
</template>

<template name="feature_template">
  <article class="feature {{ widgetType }} {{ feature.cssClass }} {{ feature.stateClass }}">
    <div class="feature-icon"><span class="{{ feature.iconClass }}"></span></div>
    <div class="feature-title">{{{ feature.title }}}</div>
    <div class="feature-description">{{{ feature.description }}}</div>
    <section class="inner-features">
      {{#each feature.innerFeatures }}
        {{ > feature_template feature=(getProductFeature this) widgetType="badge" }}
      {{/each}}
    </section>
  </article>
</template>

<template name="product_features">
  <section class="product-features">
    {{#each productFeatures }}
      {{ > feature_template feature=this widgetType="card" }}
    {{/each}}
  </section>
</template>

<template name="make_donation">
  <section class="donation">
    <div class="make-donation {{#unless showPaymentForm}}visible{{/unless}}">Donate bitcoin</div>
    <div class="payment-form {{#if showPaymentForm}}visible{{/if}}">
      <div class="payment-options">
      <header>Choose your donation:</header>
      <div class="currency-options">
        <header>in</header>
        <div class="option selected">BTC</div>
        <div class="option">USD</div>
      </div>
      <div class="amount-options">
        {{#each paymentOptions}}
          <div class="value">
            <div class="main">{{ amount }} <small>BTC</small></div>
            <div class="secondary">$ {{ amount }}</div>
          </div>
        {{/each}}
      </div>
      <div class="amount-input">
        <header class="separator">Or</header>
        <header>input <strong>your</strong> value: </header>
        <input name="donate-amount" type="number" step="0.002" min="0" placeholder="Please input amount bitcoins you want to donate..." value="0.025" />
      </div>
    </div>
      <div class="payment-request">
      <header class="name">Please send <strong>{{ selectedAmount }} BTC</strong> to bitcoin address:</header>
      <div class="address">
        <a href="{{ getBitcoinURI 0.01 }}" class="value" target="_blank">184fyZejiSTBChJuQdf86yiDjBG7PYo5GN</a>
        <div class="copy-button">
          <span class="icon fa fa-copy"></span>
          <span class="title">Copy address</span>
        </div>
      </div>
      <a href="{{ getBitcoinURI 0.01 }}" class="qr-code" target="_blank">
        <img src="https://chart.googleapis.com/chart?chs=180x180&chld=L|2&cht=qr&chl={{ getBitcoinQR 0.01 }}" />
      </a>
      <div class="waiting">10:00</div>
    </div>
    </div>
  </section>
</template>

<template name="product_funds">
  <section class="funds">
    <header class="title">
      <div class="product-name">Site Ace</div>
      <!--<div>is</div>-->
      <!--<div>crowdfunding project</div>-->
      <div>is <strong>crowdfunding</strong> project</div>
    </header>
    <section class="description">
      Help us to build cool tool for your bookmarks.
    </section>
    <!--<section class="donate blockchain-btn" data-address="184fyZejiSTBChJuQdf86yiDjBG7PYo5GN" data-shared="false">-->
      <!--<div>We have received <span class="sum">0 <i class="fa fa-btc" aria-hidden="true"></i></span> from <span class="users">0</span> users.</div>-->
      <!--<div class="make-donation">Add more...</div>-->
    <!--  <div class="blockchain stage-begin make-donation">Donate bitcoin</div>-->
    <!--  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>-->
    <!--  <script type="text/javascript" src="https://blockchain.info/Resources/js/pay-now-button.js"></script>-->
    <!--  <div class="blockchain stage-loading make-donation">-->
    <!--    Waiting donation...-->
    <!--  </div>-->
    <!--  <div class="blockchain stage-ready">-->
    <!--    <p align="center">Please Donate To Bitcoin Address: <b>[[address]]</b></p>-->
    <!--    <p align="center" class="qr-code"></p>-->
    <!--  </div>-->
    <!--  <div class="blockchain stage-paid">-->
    <!--    Donation of <b>[[value]] BTC</b> Received. Thank You.-->
    <!--  </div>-->
    <!--  <div class="blockchain stage-error">-->
    <!--    <font color="red">[[error]]</font>-->
    <!--  </div>-->
    <!--</section>-->
    {{ > make_donation }}
    <section class="roadmap">
      <header>
        Now we are working on
      </header>
      <div class="features">
        {{#each currentFeatures }}
          {{ > feature_template feature=this widgetType="badge" }}
        {{/each}}
      </div>
    </section>
  </section>
</template>

<template name="product_feedback">
  <section class="feedback">
    <header>Contact</header>
    <form class="submit-feedback">
      <div class="input-field">
        <label>Name:</label>
        <input name="name"/>
      </div>
      <div class="input-field">
        <label>Email:</label>
        <input name="email"/>
      </div>
      <div class="input-field">
        <label>Message:</label>
        <textarea name="message" placeholder="Say something nice..."></textarea>
      </div>
      <div class="submit-button">Send</div>
    </form>
  </section>
</template>

<template name="about_content">
  <section class="about-view-content">
    {{ > product_features }}
    {{ > product_funds }}
    {{ > product_feedback }}
  </section>
</template>
