<template name="home_header">
  <header class="text-center">
    <h1 class="title">Site Ace</h1>
    <section class="description">
      <h4>Organize your bookmarks.</h4>
      <p>
        <a href="/about" class="button">Read more...</a>
      </p>
      <p>
        <a href="/coursera-mates">Notes for coursera mates...</a>
      </p>
      <p>
        <a href="/roadmap">Look at the future plans</a>
      </p>
    </section>
  </header>
</template>

<template name="home_content">
  {{ > bookmarks_list }}
</template>
