@import url(//fonts.googleapis.com/css?family=Titillium+Web:400,700,900);

@import '../layout/mixins';
@import '../layout/flex';

$line-height: 1.5rem !default;
$column-width: 1rem !default;
$secondary-opacity: .6 !default;

$brand-color: #FF3C00 !default;
$text-color: rgba(#333, .8) !default;
$intense-text-color: rgba($text-color, 1);
$secondary-text-color: rgba($text-color, $secondary-opacity);

$nav-height: $line-height * 3 !default;
$badge-size: $line-height * 2;
$child-feature-icon-size: $line-height * 2;
$feature-max-width: 40rem;

.page > header.product-intro {
  @include flex-rows;
  @include flex-align(center, center, center);
  @include size(100%, 100vh);
  padding: $line-height*2 $column-width;
  margin-top: -$line-height * 3;
  margin-bottom: $line-height * 5;
  color: $text-color;

  @media (min-height: 60rem) {
    margin-top: 0;
  }

  .product-icon, .product-name {
    font-size: $line-height;
    align-self: center;
  }

  .product-icon {
    @include size($badge-size, $badge-size);
    @include flex-center;
    color: $brand-color;
    border: 2px solid;
    border-radius: 50%;
    margin-right: $column-width;
  }

  .product-name {
    font-family: 'Titillium Web', sans-serif;
    font-size: $line-height * 2;
    line-height: $line-height * 2;
    font-weight: 900;
    text-transform: uppercase;
  }

  .product-description {
    flex: 1 1 100%;
    margin-top: $line-height;
    font-size: .8 * $line-height;
    text-align: center;
    opacity: $secondary-opacity;
  }
}

.page > .content .product-features {
  @include flex-column;
  color: $text-color;
  margin: 0 (-$column-width);
  min-height: 100vh;

  > .feature {
    @include relative;
    @include flex-column;
    @include flex-align(center, center);
    padding: 2*$line-height $column-width;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    padding-left: $badge-size + 2*$column-width;
    margin-bottom: $line-height;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    > .feature-icon {
      @include absolute(-4px, null, null, $column-width);
      @include size($badge-size, $badge-size*1.5);
      @include flex-center;
      z-index: 10;
      font-size: 1rem;
      color: white;

      &:before {
        content: '';
        @include absolute(0, 0, 0, 0);
        z-index: 0;
        border-left: $badge-size/2 solid $brand-color;
        border-right: $badge-size/2 solid $brand-color;
        border-bottom: $badge-size/4 solid transparent;
        border-radius: 0 0 4px 4px;
      }

      > * { z-index: 1; }
    }

    > .feature-title,
    > .feature-description {
      margin-bottom: $line-height;
      text-align: center;
    }

    > .feature-title {
      color: $intense-text-color;
      font-size: $line-height;
    }

    >  .feature-description {
      color: $secondary-text-color;
    }

    > .inner-features {
      @include flex-rows;
      justify-content: flex-end;
      width: 100%;

      .feature {
        margin: $line-height/2 $column-width/2;
        opacity: $secondary-opacity;

        > .feature-title,
        > .feature-description,
        > .inner-features {
          display: none;
        }

        > .feature-icon {
          @include size($child-feature-icon-size, $child-feature-icon-size);
          @include flex-center;
          border: 2px solid rgba($text-color, .15);
          background: rgba($text-color, .05);
          border-radius: 50%;
          font-size: $line-height;
        }

        &.current {
          order: -1;
          opacity: 1;
          margin-left: -($badge-size + $child-feature-icon-size)/2 - $column-width;
          margin-right: auto;

          > .feature-icon {
            border: 2px solid rgba(white, .7);
            background: rgba(white, .3);
          }
        }
      }
    }

    &:nth-child(2n+1) {
      background: #ffeb3b;
      border-color: darken(#ffeb3b, 15%);
    }

    &:nth-child(2n) {
      background: #00CFD9;
      border-color: darken(#00CFD9, 15%);
    }
  }

  @media (min-width: #{$feature-max-width + $column-width * 2}) {
    max-width: $feature-max-width;
    margin: 0 auto;
  }

  @media (min-width: #{$feature-max-width * 1.5}) {
    > .feature {
      @include flex-align(stretch, stretch, flex-start);
      background: transparent;
      border: none;
      box-shadow: none;
      padding: 2*$line-height $column-width;
      margin-bottom: $line-height * 8;

      > .feature-icon {
        font-size: $line-height * 8;
        opacity: .3;

        &:before { content: none; }
      }

      > .feature-title {
        font-size: $line-height*1.5;
        line-height: $line-height*2;
        font-weight: 300;
      }

      > .feature-description {
        font-size: $line-height;
        font-weight: 300;
        margin-bottom: $line-height * 2;
      }

      > .inner-features > .feature.current {
        margin-left: 0;

        > .feature-icon {
          border-width: 3px;
          background-color: $text-color;
          color: #FFC801;
          border-color: white;
          box-shadow: 2px 2px 6px rgba(0,0,0,.3);
        }
      }

      > .inner-features > .feature > .feature-icon {
        @include size($child-feature-icon-size * 1.5, $child-feature-icon-size * 1.5);
        font-size: $line-height * 1.25;
      }

      &:nth-child(2n+1) {
        background: transparent;

        > .feature-icon,
        > .feature-title {
          color: #FFC801;
          color: #52D3B4;
        }

        > .feature-icon {
          color: #ffeb3b;
          right: -4rem;
          left: auto;
        }

        > .feature-title,
        > .feature-description {
          text-align: left;
        }
      }

      &:nth-child(2n) {
        background: transparent;

        > .feature-icon,
        > .feature-title {
          color: #F36E67;
        }

        > .feature-icon {
          color: #00CFD9;
          left: -4rem;
          right: auto;
          // margin-left: 10%;
          // @include flex-align(flex-start, flex-start, flex-start);
        }

        > .feature-title,
        > .feature-description {
          text-align: right;
        }
      }
    }
  }
}
