@import url(//fonts.googleapis.com/css?family=Titillium+Web:400,700,900);

@import '../layout/mixins';
@import '../layout/flex';


$brand-color: #FF3C00 !default;
$text-color: rgba(#333, .8) !default;
$line-height: 1.5rem !default;
$column-width: 1rem !default;

.page > header.product-intro {
  @include flex-rows;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: $line-height*2 $column-width;
  margin-bottom: $line-height * 4;
  color: $text-color;

  .product-icon, .product-name {
    font-size: $line-height;
    align-self: center;
  }

  .product-icon {
    @include size($line-height*2, $line-height*2);
    @include flex-center;
    color: $brand-color;
    border: 2px solid;
    border-radius: 50%;
    margin-right: $column-width;
  }

  .product-name {
    font-family: 'Titillium Web', sans-serif;
    font-size: $line-height * 2;
    font-weight: 900;
    text-transform: uppercase;
  }

  .product-description {
    flex: 1 1 100%;
    margin-top: $line-height;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 300;
  }
}
