@import url(//fonts.googleapis.com/css?family=Titillium+Web:400,700,900);

@import '../layout/mixins';
@import '../layout/flex';

$line-height: 1.5rem !default;
$column-width: 1rem !default;
$secondary-opacity: .6 !default;

$brand-color: #FF3C00 !default;
$text-color: rgba(#333, .8) !default;
$intense-text-color: rgba($text-color, 1);
$secondary-text-color: rgba($text-color, $secondary-opacity);

$nav-height: $line-height * 3 !default;
$badge-size: $line-height * 2;
$child-feature-icon-size: $line-height * 2;
$feature-max-width: 40rem;

.page > header.product-intro {
  @include flex-rows;
  @include flex-align(center, center, center);
  @include size(100%, 100vh);
  padding: $line-height*2 $column-width;
  margin-top: -$line-height * 3;
  margin-bottom: $line-height * 5;
  color: $text-color;

  @media (min-height: 60rem) {
    margin-top: 0;
  }

  .product-icon, .product-name {
    font-size: $line-height;
    align-self: center;
  }

  .product-icon {
    @include size($badge-size, $badge-size);
    @include flex-center;
    color: $brand-color;
    border: 2px solid;
    border-radius: 50%;
    margin-right: $column-width;
  }

  .product-name {
    font-family: 'Titillium Web', sans-serif;
    font-size: $line-height * 2;
    line-height: $line-height * 2;
    font-weight: 900;
    text-transform: uppercase;
  }

  .product-description {
    flex: 1 1 100%;
    margin-top: $line-height;
    font-size: .8 * $line-height;
    text-align: center;
    opacity: $secondary-opacity;
  }
}

.product-features {
  @include flex-column;
  color: $text-color;
  margin: 0 (-$column-width);

  > .feature {
    @include relative;
    @include flex-column;
    @include flex-align(center, center);
    padding: 2*$line-height $column-width;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    padding-left: $badge-size + 2*$column-width;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    > .feature-icon {
      @include absolute(-4px, null, null, $column-width);
      @include size($badge-size, $badge-size*1.5);
      @include flex-center;
      z-index: 10;
      font-size: 1rem;
      color: white;

      &:before {
        content: '';
        @include absolute(0, 0, 0, 0);
        z-index: 0;
        border-left: $badge-size/2 solid $brand-color;
        border-right: $badge-size/2 solid $brand-color;
        border-bottom: $badge-size/4 solid transparent;
        border-radius: 0 0 4px 4px;
      }

      > * { z-index: 1; }
    }

    > .feature-title,
    > .feature-description {
      margin-bottom: $line-height;
      text-align: center;
    }

    > .feature-title {
      font-size: $line-height;
    }

    > .inner-features {
      @include flex-rows;
      justify-content: flex-end;
      width: 100%;

      .feature {
        margin: $line-height/2 $column-width/2;
        opacity: $secondary-opacity;

        > .feature-title,
        > .feature-description,
        > .inner-features {
          display: none;
        }

        > .feature-icon {
          @include size($child-feature-icon-size, $child-feature-icon-size);
          @include flex-center;
          border: 2px solid rgba($text-color, .15);
          background: rgba($text-color, .05);
          border-radius: 50%;
          font-size: $line-height;
        }

        &.current {
          order: -1;
          opacity: 1;
          margin-left: -($badge-size + $child-feature-icon-size)/2 - $column-width;
          margin-right: auto;

          > .feature-icon {
            border: 2px solid rgba(white, .7);
            background: rgba(white, .3);
          }
        }
      }
    }
  }

  @media (min-width: #{$feature-max-width + $column-width * 2}) {
    max-width: $feature-max-width;
    margin: 0 auto;
  }

  @media (min-width: #{$feature-max-width * 1.5}) {
    > .feature {
      @include flex-align(stretch, stretch, flex-start);
      border: none;
      box-shadow: none;
      padding: 2*$line-height $column-width;
      margin-top: 2*$line-height;
      margin-bottom: 6*$line-height;

      > .feature-icon {
        @include size($line-height * 8, $line-height * 8);
        top: -2*$line-height;
        font-size: $line-height * 8;
        opacity: .3;

        &:before { content: none; }
      }

      > .feature-title {
        font-size: $line-height*1.5;
        line-height: $line-height*2;
        font-weight: 300;
      }

      > .feature-description {
        font-size: $line-height;
        font-weight: 300;
        margin-bottom: $line-height * 2;
      }

      > .inner-features > .feature.current {
        margin-left: 0;

        > .feature-icon {
          border-width: 3px;
          background-color: $text-color;
          color: #FFC801;
          border-color: white;
          box-shadow: 2px 2px 6px rgba(0,0,0,.3);
        }
      }

      > .inner-features > .feature > .feature-icon {
        @include size($child-feature-icon-size * 1.5, $child-feature-icon-size * 1.5);
        font-size: $line-height * 1.25;
      }

      &:nth-child(2n+1) {
        background: transparent;

        > .feature-icon,
        > .feature-title {
          color: #FFC801;
          color: #52D3B4;
        }

        > .feature-icon {
          color: #ffeb3b;
          right: -10rem;
          left: auto;
        }

        > .feature-title, > .feature-description { text-align: left; }
      }

      &:nth-child(2n) {
        background: transparent;

        > .feature-icon,
        > .feature-title {
          color: #F36E67;
        }

        > .feature-icon {
          color: #00CFD9;
          left: -10rem;
          right: auto;
        }

        > .feature-title, > .feature-description { text-align: right; }
      }
    }
  }
}

@mixin feature-card-colorization($cls, $feature-color, $color) {
  $selector: if($cls, #{".feature." + $cls}, ".feature");
  .product-features > #{$selector} {
    background: $feature-color;
    color: $color;

    > .feature-title { color: rgba($color, 1); }
    > .feature-description { color: rgba($color, $secondary-opacity); }

    @media (min-width: #{$feature-max-width * 1.5}) {
      background: transparent;
      color: $text-color;

      > .feature-icon { color: $feature-color; }
      > .feature-title { color: $brand-color; }
      > .feature-description { color: rgba($text-color, $secondary-opacity); }
    }
  }
}

@include feature-card-colorization(keep, #ffeb3b, $text-color);
@include feature-card-colorization(organize, #32D390, $text-color);
@include feature-card-colorization(storage, #B1D5EB, $text-color);
@include feature-card-colorization(share, #846DB1, white);


.funds {
  @include flex-column;
  @include flex-align(center, center);
  position: relative;
  margin: $line-height * 10 auto;
  max-width: 40rem;
  color: $text-color;
  font-size: 1rem;
  line-height: $line-height;

  > header {
    text-align: center;
    font-size: 1.2rem;
    color: rgba($text-color, $secondary-opacity);
    color: #000;

    .product-name {
      margin-bottom: $line-height/2;
      font-size: 3*$line-height;
      line-height: 3*$line-height;
      font-weight: 900;
      font-family: 'Titillium Web', sans-serif;
      text-transform: uppercase;
      color: #FFC801;
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
  }

  section.description,
  section.donate {
    font-size: 1.25rem;
    line-height: $line-height;
    text-align: center;
  }

  section.description {
    font-weight: 300;
    margin: $line-height*2 0 0;
  }

  section.donate {
    font-weight: 500;
    color: rgba($text-color, 1);
    margin: $line-height 0;

    .sum, .users {
      font-weight: 700;
      font-size: $line-height * 1.5;
      line-height: 2*$line-height;
      margin: 0 $column-width;
      vertical-align: middle;
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
    .sum { color: #FFC801; }
    .users { color: #36a7d7; }

    .make-donation {
      display: inline-block;
      margin: $line-height*2 auto;
      padding: $line-height/2 $column-width*2;
      border: 2px solid;
      color: $brand-color;
      font-size: .75rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      opacity: $secondary-opacity;
      cursor: pointer;
      transition: all .3s ease;

      &:hover {
        opacity: 1;
      }
    }
  }

  section.roadmap header {
    text-align: center;
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-bottom: $line-height/2;
  }

  section.roadmap .features {
    @include flex-row;
    margin-bottom: 2*$line-height;

    .feature {
      margin: $line-height/2 $column-width/2;

      > .feature-title,
      > .feature-description,
      > .inner-features {
        display: none;
      }

      > .feature-icon {
        @include size($child-feature-icon-size * 1.5, $child-feature-icon-size * 1.5);
        @include flex-center;
        font-size: $line-height * 1.25;
        border: 3px solid rgba(white, 1);
        border-radius: 50%;
        background-color: $text-color;
        color: #FFC801;
        box-shadow: 2px 2px 6px rgba(0,0,0,.3);
      }
    }
  }

  @media (min-width: 60rem) {
    margin: 0 (-2*$column-width);
    max-width: 200%;
    padding: 6*$line-height 2*$column-width 3*$line-height;

    &:before, &:after {
      content: '';
      @include absolute(0, 0, 0, 0);
      border: 5px solid rgba(255,255,255, 1);
      box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 -3px 6px rgba(0,0,0,0.23),
                  0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    &:before {
      z-index: 1;
      background: #FFC801;
      transform: skewY(7deg);
    }

    &:after {
      z-index: 0;
      background: #d50000;
      transform: skewY(-7deg);
    }

    > * { z-index: 2; }
    
    > header .product-name { color: #000; }
    
    section.donate {
      .sum, .users {
        color: white;
      }
      
      .make-donation {
        color: black;
        background: white;
        background-color: black;
        color: white;
      }
    }
    
    section.roadmap {
      > header {
        font-size: 1rem;
        font-weight: 900;
      }
      
      .features .feature > .feature-icon {
        background: black;
      }
    }
  }
}