@import '../layout/mixins';
@import '../layout/flex';
@import '../resets/mixins';

$main-opacity: 1 !default;
$secondary-opacity: .6 !default;
$line-height: 1.5rem !default;
$column-width: 1rem !default;

/* Brand element */

.brand {
  @include flex-inline();
  opacity: $secondary-opacity;
  margin: ($line-height / 2) $column-width;
  transition: opacity .5s ease;

  > .icon, > .logo {
    @include flex-center;
    @include size(3rem, 3rem);
    margin-right: 1rem;
  }

  > .name {
    @include flex-center;
    text-transform: lowercase;
  }

  &:hover, &:active, &:focus {
    opacity: $main-opacity;
  }
}

@include reset-link(brand);