@import '../layout/mixins';

$main-opacity: 1 !default;
$secondary-opacity: .6 !default;
$line-height: 1.5rem !default;
$column-width: 1rem !default;

$hamburger-line-width: 3px;

/* Hamburger icon */
.hamburger-button {
  display: inline-flex;
  cursor: pointer;

  & > * {
    margin: 0 ($line-height / 2);
  }

  > .lines {
    position: relative;
    margin-top: $line-height;
    margin-bottom: calc(#{$line-height} - #{$hamburger-line-width});
    opacity: $secondary-opacity;

    &, &:after, &:before {
      @include size($line-height, $hamburger-line-width);
      border-radius: 2px;
      transition: all .5s ease;
    }

    &:after, &:before {
      content: '';
      @include absolute($left: 0, $right: 0);
    }

    &:after {
      top: $hamburger-line-width * 2;
    }

    &:before {
      top: - $hamburger-line-width * 2;
    }
  }
}

/* Hover arrow */
.hamburger-button:hover > .lines,
*:hover > .hamburger-button > .lines {
  opacity: 1;
  transform: rotate(-90deg) scale(0.6);
  transition: all .35s ease;

  &:after, &:before {
    transform-origin: 2px center;
    width: 1em;
    transition: all .35s ease;
  }

  &:after {
    transform: rotate(35deg);
    top: 1px;
  }

  &:before {
    transform: rotate(-35deg);
    top: -1px;
  }
}

/* Expanded state arrow */
*:not(.collapsed) > .hamburger-button > .lines {
  opacity: 1;
  transform: rotate(90deg) scale(0.6);
  transition: all .35s ease;

  &:after, &:before {
    transform-origin: 2px center;
    width: 1em;
    transition: all .35s ease;
  }

  &:after {
    transform: rotate(35deg);
    top: 1px;
  }

  &:before {
    transform: rotate(-35deg);
    top: -1px;
  }
}

@mixin hamburger-button-colorize($cls: null, $color: black) {
  $selector: if($cls, #{".hamburger-button." + $cls}, ".hamburger-button");
  #{$selector} {
    color: transparentize($color, 0.5);

    &:hover {
      color: $color;
    }

    > .lines {
      &, &:after, &:before {
        background-color: $color;
      }
    }
  }
}

@include hamburger-button-colorize;
@include hamburger-button-colorize(white, white);