@import '../layout/flex';

$line-height: 1.5rem !default;
$tag-base-height: $line-height / 2;
$column-width: 1rem !default;

.tags {
  @include flex-container($wrap: wrap);
  @include flex-align(center);

  > .tag {
    white-space: nowrap;
    font-size: $tag-base-height;
    line-height: $tag-base-height;
    padding: ($tag-base-height / 3) ($column-width / 2);
    margin: ($tag-base-height / 6) ($column-width / 2) ($tag-base-height / 6) 0;
    border-radius: 4px;
    border: 1px solid;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: rgba(0,0,0,0.6);

    &.dark {
      background-color: rgba(0,0,0,0.6);
      border-color: rgba(0,0,0,0.5);
      color: white;
    }
  }
}