@import '../layout/flex';

$line-height: 1.5rem !default;
$tag-base-height: $line-height / 2;
$column-width: 1rem !default;

.tags {
  @include flex-vertical-center;
  align-content: flex-start;
  flex-wrap: wrap;

  > .tag {
    white-space: nowrap;
    font-size: $tag-base-height;
    line-height: $tag-base-height;
    padding: ($tag-base-height / 3) ($column-width / 2);
    margin: ($tag-base-height / 6) ($column-width / 2) ($tag-base-height / 6) 0;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.5);
    background-color: rgba(0,0,0,0.6);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: white;
  }
}