@import '../helpers/no-select';
@import '../helpers/box-shadow';

$line-height: 1.5rem !default;
$column-width: 1rem !default;

.widget {
  position: relative;
  overflow: hidden;
  padding: ($line-height / 2) $column-width;

  background: white;
  border-radius: 2px;
  border: 2px solid transparent;
  @include box_shadow(1);

  cursor: pointer;
  @include no-select;

  transition: all .5s ease;

  &:hover {
    border-radius: 5px;
    border-color: transparentize(#008EBF, .4);
    @include box_shadow(3);
  }
}