<template name="details">
  <div class="details">
    {{> yield 'header' }}
    {{> yield 'content' }}
  </div>
</template>

<template name="details_header">
  <nav class="nav">
    <div class="close-button"></div>
  </nav>
  <header>
    <section class="webshot">
      <img src="/webshots/{{ _id }}.png" />
    </section>
    <section class="info">
      <div class="title">{{ title }}</div>
      <div class="url">{{ url }}</div>
      <div class="user">added by <strong>{{ getUser createdBy }}</strong></div>
      <div class="description">{{ description }}</div>
      <div class="category tags">
        <header>category: </header>
        <div class="tag">study</div>
      </div>
      <div class="tags">
        <header>tags: </header>
        <div class="tag">study</div>
        <div class="tag">search</div>
        <div class="tag">web development</div>
        <div class="tag">meteor js</div>
        <div class="tag">university</div>
      </div>
      <div class="statistics">
        <div class="date"><strong>added:</strong> {{ timePassed createdOn }}</div>
        {{> visits_counter }}
        <div class="splitter"></div>
        {{> website_votes }}
      </div>
    </section>
  </header>
</template>

<template name="details_content">
  <main class="content wide">
    <section class="comments">
      <header>
        <h4>Comments</h4>
      </header>
      {{> comments_list site=_id }}
      {{#if currentUser }}
        {{> comment_add_form site=_id }}
      {{/if}}
    </section>
    <section class="recommendations">
      {{> recommendations_list site=this }}
    </section>
  </main>
</template>

<template name="recommendations_list">
  {{#each sites}}
    <header>
      <h4>You may also like</h4>
    </header>
    <article class="website widget small">
      <img class="background" src="/webshots/{{ _id }}.png" />
      <div class="cover">
        {{ > open_website }}
        {{ > open_details }}
        <div class="button secondary pin">
          <span class="glyphicon glyphicon-pushpin"></span>
        </div>
      </div>
      <div class="main">
        <a class="title" href="{{url}}">{{ title }}</a>
      </div>
      <div class="secondary">
        <div class="description">{{description}}</div>
      </div>
      <div class="secondary">
        <div class="description">{{score}}</div>
      </div>
    </article>
  {{/each}}
</template>