<template name="details">
  <div class="details">
    <div class="close-button"></div>
    {{> yield 'header' }}
    {{> yield 'content' }}
  </div>
</template>

<template name="details_header">
  <header>
    <section class="webshot">
      <img src="/webshots/{{ _id }}.png" />
    </section>
    <section class="info">
      <div class="title">{{ title }}</div>
      <div class="description">{{ description }}</div>
      <div class="rating">
        <div class="date">{{ timePassed createdOn }}</div>
        {{> website_votes }}
      </div>
    </section>
  </header>
</template>

<template name="details_content">
  <main class="content wide">
    <section class="comments">
      <header>
        <h3>Comments</h3>
      </header>
    </section>
    <section class="recommendations">
      <header>
        <h3>Recommendations</h3>
      </header>
    </section>
  </main>
</template>