<template name="comments_list">
  {{#each comments }}
    <p>{{ comment }}</p>
  {{else}}
    <h6 class="text-center no-comments">No comments here yet.</h6>
  {{/each}}
</template>

<template name="comment_indicator">
  <div class="button with-badge comment-button js-comment">
    {{#if count }}
      <span class="icon fa fa-comments" aria-hidden="true"></span>
      <span class="badge">{{ count }}</span>
    {{else}}
      <span class="icon fa fa-comment-o" aria-hidden="true"></span>
    {{/if}}  
  </div>
</template>

<template name="comment_add_form">
  <div class="input-group">
    <textarea name="comment"></textarea>
    <div class="button primary js-post-comment">Post</div>
  </div>
</template>