<template name="comments_list">
  {{#each comments }}
    <article class="comment">
      <header>{{ getUser createdBy }}</header>
      <div class="content">{{ comment }}</div>
      <footer>{{ timePassed createdAt }}</footer>
    </article>
  {{else}}
    <div class="text-center no-comments">No comments here yet.</div>
  {{/each}}
</template>

<template name="comment_indicator">
  <div class="button with-badge comment-button js-comment">
    {{#if count }}
      <span class="icon fa fa-comments" aria-hidden="true"></span>
      <span class="badge">{{ count }}</span>
    {{else}}
      <span class="icon fa fa-comment-o" aria-hidden="true"></span>
    {{/if}}
  </div>
</template>

<template name="comment_add_form">
  <div class="add-comment">
    <header>new comment:</header>
    <textarea name="comment" rows=5></textarea>
    <div class="button primary js-post-comment">Post</div>
  </div>
</template>