<template name="header_inputs">
  <div class="search-add-inputs {{ currentInput }}">
    <div class="state search">
      <div class="icon">
        <div class="search-icon"></div>
      </div>
    </div>
    <div class="input">
      <input type="text" name="website-search" />
      <div class="feedback"></div>
    </div>
    {{#if currentUser }}
    <div class="state add">
      <div class="icon"></div>
    </div>
    {{else}}
    <div class="state add disabled"
      data-toggle="tooltip" data-placement="bottom" title="You must sign in to add websites">
      <div class="icon"></div>
    </div>
    {{/if}}

  </div>
</template>