@import url(//fonts.googleapis.com/css?family=Roboto:400,300,500,700,100);
@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
@import url(https://fonts.googleapis.com/css?family=Teko:700);

@import 'typography/typography';
@import 'layout/layout';

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto', 'Open Sans', 'Helvetica', 'Verdana', sans-serif;
}

html {
  font-size: 16px;
}

body {
  overflow-y: auto;
  font-size: 100%;
  background-color: #ECEFF1;
}

// App specific styles
.page {
  background-color: #ECEFF1;
  color: rgba(0,0,0,.8);

  > header {
    > .title {
      font-family: Teko;
      font-weight: 900;
      // color: #d50000;
      color: #37474F;
    }

    > .description {
      padding: 0 1rem;
    }
  }

  > nav,
  > nav .navbar-collapse,
  > header {
    // background-color: #99cc00;
    // color: white;
  }

  .brand:hover {
    color: #FF3C00;
  }

  .nav.navbar-nav li.active {
    color: #FF3C00;
  }

  &.overlap-header {
    > header {
      padding-bottom: 7.5rem;
      box-shadow: none;

      + .content {
        margin-top: -7.5rem;
      }
    }
  }
}
