@import url(//fonts.googleapis.com/css?family=Roboto:400,300,500,700,100);
@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
@import url(https://fonts.googleapis.com/css?family=Teko:700);

@import 'typography/typography';
@import 'layout/layout';

$url-color: #0277BD;
$url-active-color: #FF3C00;
$url-hover-color: darken(#FF3C00, 10%);
$secondary-opacity: 0.6;

html, body, #__blaze-root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto', 'Open Sans', 'Helvetica', 'Verdana', sans-serif;
}

html {
  font-size: 16px;
}

body {
  overflow-y: auto;
  font-size: 100%;
  background-color: #ECEFF1;
}

// App specific styles
.page {
  background-color: #ECEFF1;
  color: rgba(0,0,0,.8);

  > header {
    > .title {
      font-family: Teko;
      font-weight: 900;
      // color: #d50000;
      color: #37474F;
    }

    > .description {
      padding: 0 1rem;
    }

    a {
      color: $url-color;

      &:visited {
        color: rgba($url-color, $secondary-opacity);
      }

      &:hover, &:focus {
        color: $url-active-color;
        text-decoration: none;
      }
    }
  }

  > nav,
  > nav .navbar-collapse,
  > header {
    // background-color: #99cc00;
    // color: white;
  }

  .brand:hover {
    color: $url-active-color;
  }

  .nav.navbar-nav li.active {
    color: $url-active-color;
  }

  &.overlap-header {
    > header {
      padding-bottom: 7.5rem;
      box-shadow: none;

      + .content {
        margin-top: -7.5rem;
      }
    }
  }
}
