@import url(//fonts.googleapis.com/css?family=Roboto:400,300,500,700);

@import 'typography/typography';
@import 'layout/layout';

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto', 'Open Sans', 'Helvetica', 'Verdana', sans-serif;
}

html {
  font-size: 16px;
}

body {
  font-size: 100%;
}

// App specific styles
.page {
  background-color: #ECEFF1;
  
  > nav,
  > nav .navbar-collapse,
  > header {
    background-color: #78a300;
    color: white;
  }
}
