@import 'layout/flex';
@import 'layout/mixins';
@import 'helpers/box-shadow';

$line-height: 1.5rem !default;
$column-width: 1rem !default;
$secondary-opacity: .6;

$header-background: #ECEFF1;
$header-color: black;
$header-color: #47526E;
$url-color: #0277BD;

.details {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  background: white;
  margin: (-$line-height) (-$column-width);

  > nav {
    @include flex-row;
    > .close-button {
      margin: $line-height/2 $column-width;
    }
  }

  > header,
  > main.content {
    @include flex-column;

    > section { padding: ($line-height / 2) $column-width; }

    section.webshot {
      max-width: 100%;
      width: 100%;
      padding: 0;
      margin-bottom: $line-height;
      align-self: center;

      img {
        max-width: 100%;
        width: 100%;
      }
    }

    .webshot,
    .comments {
      order: 0;
    }

    .info,
    .recommendations {
      order: 1;
    }

    @media (min-width: 60rem) {
      flex-direction: row;

      section.webshot,
      section.recommendations {
        flex: 0 0 32rem;
      }

      section.info,
      section.comments {
        flex: 1 1 auto;
      }

      .webshot,
      .recommendations {
        order: 0;
      }

      .info,
      .comments {
        order: 1;
      }
    }
  }

  > header {
    background: $header-background;
    color: $header-color;
    padding: 0 $column-width $line-height;
    margin: 0 (-$column-width) $line-height;
  }

  @media (min-width: 40rem) {
    padding: 0 $column-width $line-height*3;
    margin: 0;
    @include box_shadow(4);

    > nav {
      > .close-button {
        margin-left: auto;
      }
    }

    > header {
      padding-top: $line-height;

      section.webshot {
        width: auto;
      }
    }
  }
}

.details section.info {
  > .title {
    font-size: $line-height;
    line-height: $line-height;
    margin-bottom: $line-height / 2;
    color: rgba($header-color, 0.9);

    &:hover {
      color: $url-color;
      cursor: pointer;
    }
  }

  .url {
    font-size: .75rem;
    line-height: $line-height;
    margin-bottom: $line-height / 2;
    opacity: $secondary-opacity;
    color: $url-color;
    cursor: pointer;
    transition: opacity .2s ease;

    &:before {
      content: "\f0c1";
      font-family: FontAwesome;
      margin-right: $column-width;
    }

    &:hover {
      opacity: 1;

      &:before {
        text-decoration: none;
      }
    }
  }

  .created {
    flex: 1 1 100%;
    height: $line-height * 2;
    @include flex-inline;
    white-space: nowrap;
    margin-right: auto;
    color: rgba($header-color, $secondary-opacity);
    font-size: .75rem;
    line-height: $line-height;

    > .date, > .author {
      font-weight: 600;
    }

    > .title, > .date, > .author {
      margin-right: $column-width/4;
    }
  }

  .description {
    font-size: 1rem;
    line-height: $line-height;
    margin: ($line-height / 2) 0;
    color: rgba($header-color, $secondary-opacity);
  }

  .category.tags > .tag {
    background: #EF6C00;
    color: white;
    border-color: #DD2C00;
  }

  .tags {
    opacity: $secondary-opacity;
    margin: $line-height 0;

    > header {
      flex: 1 1 100%;
      font-size: .75rem;
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  .statistics {
    @include flex-rows;
    padding-left: 0;
    border-top: 1px solid rgba($header-color, .1);

    > .splitter {
      align-self: center;
      width: 1px;
      height: 1rem;
      margin: 0 $column-width;
      background: rgba($header-color, .2);
    }

    > .button {
      height: $line-height * 2;
      margin: 0;
      color: rgba($header-color, .8);
    }

    > .comment-button {
      order: 99;
      margin-left: 0;
      margin-right: 0;
    }

    > .visits-counter {
      margin-left: auto;
    }

    @media (min-width: 25rem) {
      > .created {
        flex: 0 0 auto;
      }
    }
  }
}

.close-button {
  position: relative;
  display: inline-flex;
  opacity: $secondary-opacity;
  transform: scale(1.25);
  transition: all .3s ease;
  cursor: pointer;

  > .lines {
    position: relative;
    margin-top: $line-height;
    margin-bottom: calc(#{$line-height} - 3px);
    transform: rotate(0deg) scale(0.6);

    &, &:after, &:before {
      @include size($line-height, 3px);
      border-radius: 2px;
      background-color: rgba($header-color, $secondary-opacity);
      transition: all .5s ease;
    }

    &:after, &:before {
      content: '';
      @include absolute($left: 0, $right: 0);
      transform-origin: 2px center;
      width: 1em;
    }

    &:after {
      transform: rotate(35deg);
      top: 1px;
    }

    &:before {
      transform: rotate(-35deg);
      top: -1px;
    }

    @media (min-width: 40rem) {
      background: transparent;

      &:after, &:before {
        top: 0;
        transform-origin: center center;
        width: $line-height * 2;
      }

      &:after {
        transform: rotate(45deg);
      }

      &:before {
        transform: rotate(-45deg);
      }
    }
  }

  &:hover {
    opacity: 1;
    transform: scale(1.5);
  }
}

.comments {
  @include flex-column;
}

.comment {
  padding: ($line-height / 2) 0;
  border-bottom: 1px solid rgba(0,0,0,.1);

  > header, > footer {
    font-size: .75rem;
    line-height: $line-height;
    font-weight: 600;
  }

  > .content {
    font-size: 1rem;
    line-height: $line-height;
    font-weight: 300;
    margin: ($line-height/2) 0;
  }

  > footer {
    opacity: $secondary-opacity;
  }
}

.comments > .no-comments {
  opacity: $secondary-opacity;
  color: rgba(0,0,0,$secondary-opacity);
  font-size: 1.125rem;
  line-height: $line-height;
  margin: ($line-height * 2) 0;

  & + .no-comments {
    margin-top: -$line-height * 2;
  }
}

.add-comment {
  margin: $line-height 0;

  header {
    font-size: .75rem;
    opacity: $secondary-opacity;
    text-transform: uppercase;
    font-weight: 600;
    line-height: $line-height;
    margin: ($line-height / 2) 0;
  }

  textarea {
    width: 100%;
    max-width: 100%;
    background: rgba(0, 0, 0, 0.05);
    border: none;
    outline: none;
    padding: ($line-height / 2) $column-width;
    font-weight: 300;
    transition: transform .3s ease;
  }

  .feedback {
    @include flex-row;
    text-transform: uppercase;
    font-size: .625rem;
    font-weight: 600;
    color: #37474F;

    &.error {
      color: #d50000;
    }

    &.success {
      color: #1B5E20;
    }

    &.info {
      color: #0D47A1;
    }
  }
}

.recommendations {
  @include flex-rows;
  align-content: flex-start;

  > header {
    flex: 1 1 100%;
  }
}

.website.widget.small {
  flex: 1 1 15rem;
  height: 10rem;
  min-height: auto;
  border-radius: 0;
  box-shadow: none;
  border-width: 1px;
  border-color: rgba(0,0,0,0.1);

  & > .main {
    padding: ($line-height / 2) $column-width;
    background: rgba(255,255,255,.8);

    > .title {
      @include flex-center;
      align-items: flex-start;
      text-align: center;
      font-size: .75rem;
      line-height: .75rem;
      min-height: 1.5rem;
      max-height: 1.5rem;
    }
  }

  & > .secondary > .description {
    display: none;
    max-height: 0;
    font-size: .75rem;
    line-height: .75rem;
  }

  &:hover {
    border-color: orangered;
  }

  @media (min-width: 60rem) {
    flex: 0 0 15rem;
  }
}
