@import 'layout/flex';
@import 'layout/mixins';

$line-height: 1.5rem !default;
$column-width: 1rem !default;

.details {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  padding: $line-height * 4 $column-width;
  @include size(100%, 100%);

  > nav {
    @include flex-row;
    @include absolute(0, 0, null, 0);

    > .close-button {
      margin-left: auto;
    }
  }

  > header,
  > main.content {
    @include flex-column;

    > section {
      // flex: 1 1 100%;
      padding: ($line-height / 2) $column-width;
    }

    @media (min-width: 60rem) {
      flex-direction: row;

      section.webshot,
      section.recommendations {
        flex: 0 0 32rem;
      }

      section.info,
      section.comments {
        flex: 1 1 auto;
      }
    }

    .webshot,
    .recommendations {
      order: 0;
    }

    .info,
    .comments {
      order: 1;
    }
  }
}

.details section.info {
  .rating {
    @include flex-row;
    padding: 0 .5rem;

    > .date {
      align-self: center;
      white-space: nowrap;
      margin-right: auto;
      color: rgba(0,0,0,0.6);
      padding: 0 .5rem;
      font-size: .75rem;
      line-height: $line-height;
      font-weight: 400;
    }

    > .button {
      height: $line-height * 2;
      margin: 0;
      color: rgba(0,0,0,0.8);
    }

    > .comment-button {
      order: 99;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.close-button {
  display: inline-flex;
  cursor: pointer;
  position: relative;
  margin: 0.75rem 1rem;
  width: 3rem;
  height: 3rem;
  opacity: .4;
  transition: all .3s ease;

  &:after, &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    background: rgba(0,0,0,.3);
    transform: translate(-50%, -50%) rotate(45deg);
    transform-origin: 50% 50%;
    transition: all .3s ease;
  }

  &:before { @include size(2px, 75%); }
  &:after { @include size(75%, 2px); }

  &:hover {
    opacity: 1;
    transform: scale(1.25);
  }
}