@import 'layout/board';

$line-height: 1.5rem !default;
$widget-height: 12rem + $line-height * 5;
$column-width: 1rem !default;
$widget-width: 25rem;
$board-space: .5rem;

.websites.grid {
  @include board-grid($widget-width, $board-space);

  > header {
    margin-top: -$line-height/4;
    margin-bottom: 0;
  }
}

.website.widget {
  @include flex-column;
  justify-content: flex-end;
  min-height: $widget-height;
  padding: 0;

  > .background {
    @include absolute(0, 0, 0, 0);
    width: 100%;
    height: auto;
    z-index: 0;
    transition: transform 1s ease, opacity .5s ease;

    & ~ * {
      z-index: 1;
    }
  }

  &:hover > .background {
    opacity: .9;
    transform: scale(1.2);
  }

  > .main, > .secondary {
    padding: 0 $column-width;
    background: white;
  }

  > .cover {
    @include flex-center;
    position: relative;
    order: -99;
    flex: 1 1 auto;
    background: rgba(0,0,0,.05);
    opacity: 0;
    transition: opacity .5s ease 2s, background 1.5s ease;
    color: white;

    > .button {
      display: flex;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.3);
      border-color: rgba(255, 255, 255, 0.3);
    }

    > .button.main {
      font-size: 1.2rem;
      width: 3rem;
      height: 3rem;
    }

    > .button.secondary {
      font-size: 0.75rem;
      width: 2rem;
      height: 2rem;
    }

    > .button.secondary.pin {
      @include absolute($right: .25rem, $bottom: .25rem);
    }
  }

  &:hover > .cover {
    opacity: 1;
    background: rgba(0,0,0,.8);
    transition: opacity .5s ease, background 2s ease 1s;
  }

  > .main {
    display: flex;
    order: -1;
    padding-top: .75rem;
    border-top: 1px solid rgba(0,0,0,0.05);

    .title {
      white-space: normal;
      min-height: $line-height;
      overflow-y: hidden;
      overflow-x: visible;
      flex: 1 1 auto;
      line-height: $line-height;
      overflow: hidden;
      font-size: 1.25rem;
      font-family: 'Roboto Condensed', 'Roboto', 'Open Sans', sans-serif;

      color: black;
      text-decoration: none;
    }
  }

  > .secondary {
    display: flex;
    font-size: .875rem;
    line-height: $line-height;
    white-space: normal;
    display: flex;
    overflow: hidden;
    transition: opacity .3s ease;

    > .description,
    > .tags {
      opacity: 0.6;
      max-height: $line-height;
      overflow: hidden;
      transition: max-height .5s ease;
    }

    > .tags > header {
      display: none;
    }
  }

  > .secondary.rating {
    padding: 0 .5rem;

    > .date {
      display: inline;
      align-self: center;
      white-space: nowrap;
      margin-right: auto;
      color: rgba(0,0,0,0.6);
      padding: 0 .5rem;
      font-size: .75rem;
      line-height: $line-height;
      font-weight: 400;
    }

    > .button {
      height: $line-height * 2;
      margin: 0;
      color: rgba(0,0,0,0.8);
    }

    > .comment-button {
      order: 99;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &:hover > .secondary {
    & > .description,
    & > .tags {
      opacity: 1;
      max-height: $line-height * 3;
    }
  }
}

.button.with-badge {
  @include flex-center;
  opacity: .4;
  padding: 0 .5rem;
  transition: opacity .5s ease;

  > .icon {
    order: 0;
    margin-right: ($column-width / 2);
    font-size: 1.125rem;
    line-height: $line-height;
  }

  > .badge {
    order: 1;
    color: inherit;
    background: transparent;
    padding: 0;
    line-height: $line-height / 2;
    font-size: $line-height / 2;
  }

  &:hover {
    opacity: 1;
  }
}

.js-upvote {
  .icon::before {
    content: "\f164";
  }

  &.empty .icon::before {
    content: "\f087";
  }

  &.voted {
    color: #0277BD !important;
  }
}

.js-downvote {
  .icon::before {
    content: "\f165";
  }

  &.empty .icon::before {
    content: "\f088";
  }

  &.voted {
    color: #d50000 !important;
  }
}

.visits-counter {
  .icon::before {
    content: "\f06e";
  }

  &.empty {
    opacity: .2;
  }
}

.js-comment {
  .icon::before {
    content: "\f086";
  }

  &.empty .icon::before {
    content: "\f0e5";
  }

  &.highlight {
    color: #0277BD !important;
  }
}
