@import 'layout/flex';
@import 'layout/mixins';

$line-height: 1.5rem !default;
$secondary-opacity: .6 !default;

$input-icon-size: 4.5rem;

.search-add-inputs {
  // Layout
  position: relative;
  @include flex-row;

  .state {
    @include absolute(0, auto, 0, auto);
    z-index: 0;
    opacity: $secondary-opacity;
    width: 100%;
    transition: all .5s ease;

    .icon {
      flex: 0 0 auto;
      @include flex-center;
      align-self: center;
      opacity: $secondary-opacity;
      cursor: pointer;
    }

    &.search {
      left: 0;
    }

    &.add {
      right: 0;

      .icon {
        margin-left: auto;
      }
    }
  }

  &.search > .state.search,
  &.add > .state.add {
    max-width: 100%;
  }

  .input {
    flex: 1 1 auto;
    @include flex-center;
    align-self: stretch;
    z-index: 1;

    input {
      width: 100%;
      background: transparent;
      border: none;
      outline: none;
      font-size: $line-height * 1.5;
      line-height: $line-height * 2;
      font-weight: 100;
      text-align: center;
    }
  }

  // Sizes
  margin: 0 ($input-icon-size / 2);
  height: $input-icon-size;

  .state {
    max-width: $input-icon-size;
    min-width: $input-icon-size;

    .icon {
      font-size: $input-icon-size / 2;
      width: $input-icon-size;
      height: $input-icon-size;
    }

    &.search {
      margin-left: -$input-icon-size / 2;
    }

    &.add {
      margin-right: -$input-icon-size / 2;
    }
  }

  .input {
    margin: 0 $input-icon-size;
    padding: ($line-height / 2) 0;
  }

  // Color schema
  .state.search {
    background: rgba(255,255,255, .5);
    color: rgba(0,0,0,.7);

    .icon {
      background: rgba(255,255,255, .5);
    }
  }

  &.search {
    input {
      color: rgba(0,0,0,.7);
    }
  }

  .state.add {
    background: rgba(0,0,0, .3);
    color: rgba(255,255,255,.9);

    .icon {
      background: rgba(0,0,0, .3);
    }
  }

  &.add {
    input {
      color: rgba(255,255,255,.8);
    }
  }

}